.button-box {
	position: relative;
	border-radius: 30px;
}
.button-box h3 {
	font-size: 16px;
	padding: 10px;
	text-align: center;
}

.form-group {
	position: relative;
	height: auto;
	padding: 50px 30px;
	transition: 0.5s;
}

.form-group .form-field {
	width: 100%;
	padding: 10px 0;
	margin: 10px 0;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}

.form-group p {
	text-align: center;
	margin: 20px 0px;
	color: red;
}

.form-group .submit-btn {
	width: 100%;
	padding: 10px 0px;
	cursor: pointer;
	color: white;
	font-size: 14px;
	margin: 40px auto;
	background: linear-gradient(to right, #04A4FF, #54a8e8);
	border: 0;
	outline: none;
	border-radius: 30px;
	font-weight: bold;
}