<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section}, ~{::link})}">
<head>
	<meta charset="UTF-8" />
	<title>Employee LogIn</title>
	<link rel="stylesheet" th:href="@{/css/forget-password.css}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	
</head>
<body>

			<section>
				
			<div class="button-box">
				<h3>Forget Password</h3>
			</div>

			<form th:action="@{/employee-login/reset-password}" class="form-group"
				method="post" th:object="${employeeUpdatePassword}">
				<input type="number"
					class="form-field" placeholder="Enter Employee id" 
					name="id" required>
				<input type="password" class="form-field" placeholder="Enter 8 character password"
					 name="password" maxlength="8" minlength="8" required> 
				<input type="password"
					class="form-field" placeholder="Confirm 8 character password" 
					name="confirmPassword" maxlength="8" minlength="8" required>
				<p th:text="${errorMessage}"></p>
				<button type="submit" class="submit-btn">Submit</button>
			</form>
			
			</section>


</body>

<!--<script th:src="@{/js/forget-password.js}"></script>-->

</html>






